PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'contenttypes','0001_initial','2025-12-02 17:24:34.269941');
INSERT INTO django_migrations VALUES(2,'contenttypes','0002_remove_content_type_name','2025-12-02 17:24:34.283363');
INSERT INTO django_migrations VALUES(3,'auth','0001_initial','2025-12-02 17:24:34.302440');
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "users_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" bigint NOT NULL REFERENCES "users_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "users_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" bigint NOT NULL REFERENCES "users_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" bigint NOT NULL REFERENCES "users_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
CREATE TABLE IF NOT EXISTS "calculator_calculationresult" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "total_estate" decimal NOT NULL, "net_estate" decimal NOT NULL, "created_at" datetime NOT NULL, "case_id" bigint NOT NULL REFERENCES "cases_case" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "calculator_heirshare" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "share_fraction" varchar(20) NOT NULL, "share_percentage" decimal NOT NULL, "share_value" decimal NOT NULL, "calculation_id" bigint NOT NULL REFERENCES "calculator_calculationresult" ("id") DEFERRABLE INITIALLY DEFERRED, "heir_id" bigint NOT NULL REFERENCES "cases_heir" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "cases_debt" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "description" varchar(255) NOT NULL, "amount" decimal NOT NULL, "case_id" bigint NOT NULL REFERENCES "cases_case" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO cases_debt VALUES(1,'╪»┘è┘ ┘┘╪ز╪د╪ش╪▒',1000000,3);
INSERT INTO cases_debt VALUES(2,'╪»┘è┘ ┘┘à╪ص┘à╪»',1000000,4);
INSERT INTO cases_debt VALUES(3,'╪»┘è┘ ┘┘╪ذ┘é╪د┘╪ر',100000,5);
CREATE TABLE IF NOT EXISTS "cases_deceased" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(255) NOT NULL, "date_of_death" date NOT NULL, "national_id" varchar(20) NOT NULL, "case_id" bigint NOT NULL UNIQUE REFERENCES "cases_case" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO cases_deceased VALUES(1,'┘à╪ص┘à╪» ┘à╪ص┘à╪»','2016-02-22','876543287654',3);
INSERT INTO cases_deceased VALUES(2,'╪د╪ص┘à╪»','2022-02-22','8765493287654',4);
INSERT INTO cases_deceased VALUES(3,'╪د╪ص┘à╪» ┘à╪ص╪│┘','2025-12-02','8765432876544',5);
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('r9jhxks77am4pzp796724e9a3hzhdun8','.eJxVjLsOAiEURP-F2hAWlpelvd9ALpeLrBpIlt3K-O9KsoU2U8w5My8WYN9K2DutYUnszAw7_XYR8EF1gHSHemscW93WJfKh8IN2fm2JnpfD_Tso0MtYZwc5WjV_E5xFKTT5KJPRKHJERZ7y7CQISW4y3iAp9EJpDZP10SX2_gAWgDih:1vQW6W:BhV564pf66GLPssLRBNvqStm2SAGMxCDAkxC0l4Q6Ec','2025-12-16 19:32:04.253953');
INSERT INTO django_session VALUES('uwpndstabhux745gsfq2u2q47vsati3t','.eJxVjEEOwiAQRe_C2hCowLQu3fcMZJgZpGpoUtqV8e7apAvd_vfef6mI21ri1mSJE6uLAnX63RLSQ-oO-I71Nmua67pMSe-KPmjT48zyvB7u30HBVr6145wEuYOUKSSPMEBGD6YPeDbEyBQkePaOumxDMpTZeiOmxwHEuqzeHyNoOSI:1vR5tc:u9xCuVdCRt3AUOoNmPx8f2AVmk8hleNMl18--1ZC0IM','2025-12-18 09:45:08.040995');
INSERT INTO django_session VALUES('j9awnpzj3l6xkaebr09nndi3zf98o39i','.eJxVjEEOwiAQRe_C2hAoDjAu3XsGMsygVA1NSrsy3l2bdKHb_977L5VoXWpae5nTKOqkLKjD75iJH6VtRO7UbpPmqS3zmPWm6J12fZmkPM-7-3dQqddvTSECB18iEgYUw2zQERo_4FHAAGQn12BjsCDMWMhyBJfJerSZB6_eH_lYN7k:1vVS0Z:AfhCpywLzpYos17mZqYnKLwDDUsKwhLXln0Y9N-JIO4','2025-12-30 10:10:19.347707');
CREATE TABLE IF NOT EXISTS "cases_will" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "description" varchar(255) NOT NULL, "amount" decimal NOT NULL, "case_id" bigint NOT NULL REFERENCES "cases_case" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO cases_will VALUES(1,'┘ê╪╡┘è╪ر ┘╪د╪ذ┘╪ر',200000,5);
INSERT INTO cases_will VALUES(2,'┘ê╪╡┘è╪ر ┘╪«╪د┘╪» ╪ذ╪│╪د╪╣╪ر ╪░┘ç╪ذ┘è╪ر',10000,13);
CREATE TABLE IF NOT EXISTS "users_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "first_name" varchar(150) NOT NULL, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "role" varchar(20) NOT NULL, "phone_number" varchar(15) NULL, "is_verified" bool NOT NULL, "document_file" varchar(100) NULL, "full_name" varchar(255) NULL, "judge_license" varchar(50) NULL, "verification_status" varchar(20) NOT NULL, "clerk_judge_status" varchar(20) NOT NULL, "assigned_judge_id" bigint NULL REFERENCES "users_user" ("id") DEFERRABLE INITIALLY DEFERRED, "deceased_name" varchar(255) NULL, "relationship_to_deceased" varchar(100) NULL, "gender" varchar(10) NULL, "profile_picture" varchar(100) NULL, "previous_role" varchar(20) NULL, "court_address" text NULL, "court_name" varchar(255) NULL, "official_stamp" varchar(100) NULL);
INSERT INTO users_user VALUES(1,'pbkdf2_sha256$1000000$cdmnDFjuc2tVkentxrZpQA$hxPI0PQm+ECnAu0cGwbIssoF4gQH9getbWiA3HNLQu0=','2025-12-04 06:24:02.109081',0,'sdfd_t5','','','mee3z42oo@gmail.com',0,1,'2025-12-02 18:08:13.663838','PUBLIC','7743552167',0,NULL,NULL,NULL,'PENDING','PENDING',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL);
INSERT INTO users_user VALUES(2,'pbkdf2_sha256$1000000$5ASE7lmN0JFJTvO2BvcJM4$0R184duQWYhc0BNu77sDXH1ta9ZzaZa1/TuHqOdK32A=','2025-12-02 18:09:36.718972',0,'jhg_8','','','shahd@email.com',0,1,'2025-12-02 18:09:34.474954','JUDGE','7743552167',0,NULL,NULL,NULL,'PENDING','PENDING',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL);
INSERT INTO users_user VALUES(3,'pbkdf2_sha256$1000000$ky3IL2U0vaCPWYgfDPZl7X$5gFb9quLwaSPlabMT2Y3m591tfi/EWrSEzw027JefDc=','2025-12-02 18:15:12.701109',0,'jj7_7','','','mee3z42yoo@gmail.com',0,1,'2025-12-02 18:15:11.663466','CLERK','77859404',0,'',NULL,NULL,'PENDING','PENDING',27,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL);
CREATE TABLE IF NOT EXISTS "cases_asset" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "description" varchar(255) NOT NULL, "value" decimal NOT NULL, "image" varchar(100) NULL, "case_id" bigint NOT NULL REFERENCES "cases_case" ("id") DEFERRABLE INITIALLY DEFERRED, "assigned_to_id" bigint NULL REFERENCES "cases_heir" ("id") DEFERRABLE INITIALLY DEFERRED, "is_locked" bool NOT NULL, "asset_type" varchar(20) NOT NULL);
INSERT INTO cases_asset VALUES(1,'╪│┘è╪د╪▒╪ر',7000000,'assets/cana67.jpg',3,NULL,0,'OTHER');
INSERT INTO cases_asset VALUES(2,'╪ذ┘è╪ز',100000000,'assets/cana67_xcZIG3s.jpg',3,NULL,0,'REAL_ESTATE');
INSERT INTO cases_asset VALUES(3,'╪ذ┘è╪ز',100000000,'assets/cana67_Uw8rd4T.jpg',4,NULL,0,'REAL_ESTATE');
CREATE TABLE IF NOT EXISTS "cases_assetcomponent" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "description" varchar(255) NOT NULL, "value" decimal NOT NULL, "created_at" datetime NOT NULL, "asset_id" bigint NOT NULL REFERENCES "cases_asset" ("id") DEFERRABLE INITIALLY DEFERRED, "assigned_to_id" bigint NULL REFERENCES "cases_heir" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO cases_assetcomponent VALUES(24,'╪د┘┘é╪╡╪ذ╪ر ╪د┘╪س╪د┘┘è╪ر',2000,'2026-03-06 18:58:21.042286',28,46);
INSERT INTO cases_assetcomponent VALUES(25,'╪د┘┘é╪╡╪ذ╪ر ╪د┘╪س╪د┘╪س╪ر ',1000,'2026-03-06 18:58:21.044447',28,45);
INSERT INTO cases_assetcomponent VALUES(32,'Part 1',50,'2026-03-07 02:40:43.385173',36,NULL);
CREATE TABLE IF NOT EXISTS "cases_publicassetlisting" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "seller_name" varchar(255) NOT NULL, "seller_email" varchar(254) NOT NULL, "seller_phone" varchar(20) NOT NULL, "price" decimal NOT NULL, "description" text NOT NULL, "is_active" bool NOT NULL, "created_at" datetime NOT NULL, "component_id" bigint NOT NULL UNIQUE REFERENCES "cases_assetcomponent" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO cases_publicassetlisting VALUES(1,'┘à╪ص┘à╪» ╪╣┘┘è ╪▓┘ê╪ش','rfrf543@gmail.com','774930216',10000,'╪د┘┘é╪╡╪ذ╪ر ╪د┘╪د┘ê┘┘ë ',1,'2026-03-13 19:26:44.164205',40);
INSERT INTO cases_publicassetlisting VALUES(2,'┘à╪س┘┘ë','rofaida1538@gmail.com','77905312',5000,'╪د┘┘é╪╡╪ذ╪ر ╪د┘╪س╪د┘┘è╪ر ┘à╪╣╪»┘┘ç ',1,'2026-03-13 19:32:36.057899',41);
CREATE TABLE IF NOT EXISTS "administration_adminnotification" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "title" varchar(255) NOT NULL, "message" text NOT NULL, "notification_type" varchar(20) NOT NULL, "is_read" bool NOT NULL, "created_at" datetime NOT NULL, "related_user_id" bigint NULL REFERENCES "users_user" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO administration_adminnotification VALUES(1,'╪ز╪▒┘é┘è╪ر ┘à╪│╪ز╪«╪»┘à','╪ز┘à ╪ز╪▒┘é┘è╪ر ┘é╪د╪╢┘è╪د╪ز ╪ح┘┘ë ╪▒╪ز╪ذ╪ر ┘à╪»┘è╪▒ ┘╪╕╪د┘à.','ROLE_CHANGE',0,'2026-03-13 21:54:13.608653',58);
INSERT INTO administration_adminnotification VALUES(2,'╪ح┘╪║╪د╪ة ╪ز╪▒┘é┘è╪ر','╪ز┘à╪ز ╪ح╪╣╪د╪»╪ر ┘é╪د╪╢┘è╪د╪ز ╪ح┘┘ë ╪▒╪ز╪ذ╪ر ┘é╪د╪╢┘è.','ROLE_CHANGE',0,'2026-03-13 21:55:18.276343',58);
INSERT INTO administration_adminnotification VALUES(3,'╪ز┘╪╣┘è┘ ╪ص╪│╪د╪ذ ╪ش╪»┘è╪»','╪ز┘à ╪ز┘╪╣┘è┘ ╪ص╪│╪د╪ذ ┘ê╪▒┘è╪س: ┘ê╪▒┘è╪س┘è5','REGISTRATION',0,'2026-03-14 12:20:13.542301',57);
CREATE TABLE IF NOT EXISTS "cases_heir" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(255) NOT NULL, "relationship" varchar(50) NOT NULL, "gender" varchar(10) NOT NULL, "is_blocked" bool NOT NULL, "case_id" bigint NOT NULL REFERENCES "cases_case" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" bigint NULL REFERENCES "users_user" ("id") DEFERRABLE INITIALLY DEFERRED, "acceptance_status" varchar(20) NOT NULL, "allocation_description" text NOT NULL, "share_percentage" decimal NOT NULL, "share_value" decimal NOT NULL, "allocated_share" decimal NOT NULL, "blocking_reason" varchar(255) NULL, "mutual_consent_status" varchar(20) NOT NULL);
INSERT INTO cases_heir VALUES(1,'╪┤┘ç╪» ╪د┘╪╣╪▓╪ذ','SON','MALE',0,1,10,'PENDING','',0,0,0,NULL,'NOT_VOTED');
INSERT INTO cases_heir VALUES(2,'╪┤┘ç╪» ╪د┘╪╣╪▓╪ذ','SON','MALE',0,2,6,'PENDING','',0,0,0,NULL,'NOT_VOTED');
INSERT INTO cases_heir VALUES(3,'┘┘è╪╡┘ ┘╪ذ╪╡┘','SON','MALE',0,3,10,'PENDING','',0,0,0,NULL,'NOT_VOTED');
CREATE TABLE IF NOT EXISTS "cases_disputeraffle" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "is_resolved" bool NOT NULL, "created_at" datetime NOT NULL, "asset_id" bigint NULL REFERENCES "cases_asset" ("id") DEFERRABLE INITIALLY DEFERRED, "case_id" bigint NOT NULL REFERENCES "cases_case" ("id") DEFERRABLE INITIALLY DEFERRED, "component_id" bigint NULL REFERENCES "cases_assetcomponent" ("id") DEFERRABLE INITIALLY DEFERRED, "winner_id" bigint NULL REFERENCES "cases_heir" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO cases_disputeraffle VALUES(2,1,'2026-03-14 21:20:53.815311',43,33,NULL,63);
CREATE TABLE IF NOT EXISTS "cases_disputeraffle_contenders" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "disputeraffle_id" bigint NOT NULL REFERENCES "cases_disputeraffle" ("id") DEFERRABLE INITIALLY DEFERRED, "heir_id" bigint NOT NULL REFERENCES "cases_heir" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO cases_disputeraffle_contenders VALUES(3,2,63);
INSERT INTO cases_disputeraffle_contenders VALUES(4,2,64);
CREATE TABLE IF NOT EXISTS "cases_case" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "case_number" varchar(50) NOT NULL, "status" varchar(30) NOT NULL, "created_at" datetime NOT NULL, "judge_id" bigint NULL REFERENCES "users_user" ("id") DEFERRABLE INITIALLY DEFERRED, "clerk_id" bigint NULL REFERENCES "users_user" ("id") DEFERRABLE INITIALLY DEFERRED, "is_ready_for_calculation" bool NOT NULL, "session_link" char(32) NOT NULL, "judge_acceptance_status" varchar(20) NOT NULL, "judge_consents_to_mutual" bool NOT NULL);
INSERT INTO cases_case VALUES(1,'1','WITH_CLERK','2025-12-03 19:51:50.656518',7,12,0,'8b083b410190436193fc146c9bd779ab','PENDING',0);
INSERT INTO cases_case VALUES(2,'2','ASSIGNED_TO_JUDGE','2025-12-03 19:52:18.503501',5,NULL,0,'ffa8f3e5743e4bd5841ac86197025d8f','PENDING',0);
INSERT INTO cases_case VALUES(3,'3','READY_FOR_CALCULATION','2025-12-03 19:55:04.233333',11,8,1,'ac8648cf94ae4bccbf6da1066f2c0c1a','PENDING',0);
CREATE TABLE IF NOT EXISTS "cases_heirassetselection" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "created_at" datetime NOT NULL, "asset_id" bigint NULL REFERENCES "cases_asset" ("id") DEFERRABLE INITIALLY DEFERRED, "heir_id" bigint NOT NULL REFERENCES "cases_heir" ("id") DEFERRABLE INITIALLY DEFERRED, "selected_amount" decimal NOT NULL, "status" varchar(20) NOT NULL, "component_id" bigint NULL REFERENCES "cases_assetcomponent" ("id") DEFERRABLE INITIALLY DEFERRED, "is_challenging_owner" bool NOT NULL, "pledge_amount" decimal NOT NULL, "requires_pledge" bool NOT NULL, "is_processed" bool NOT NULL);
INSERT INTO cases_heirassetselection VALUES(1,'2026-01-04 09:08:46.915992',18,34,0,'PENDING',NULL,0,0,0,0);
INSERT INTO cases_heirassetselection VALUES(2,'2026-01-04 09:08:46.926999',19,34,0,'PENDING',NULL,0,0,0,0);
INSERT INTO cases_heirassetselection VALUES(3,'2026-01-04 10:17:53.957826',19,36,0,'PENDING',NULL,0,0,0,0);
CREATE TABLE IF NOT EXISTS "cases_selectionlog" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "action_text" text NOT NULL, "created_at" datetime NOT NULL, "case_id" bigint NOT NULL REFERENCES "cases_case" ("id") DEFERRABLE INITIALLY DEFERRED, "heir_id" bigint NOT NULL REFERENCES "cases_heir" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO cases_selectionlog VALUES(1,'┘é╪د┘à ╪ذ╪د╪«╪ز┘è╪د╪▒ ╪د┘╪ث╪╡┘: ┘à╪╖╪╣┘à (╪د┘┘é┘è┘à╪ر: 75.00)','2026-03-14 21:19:58.026010',33,63);
INSERT INTO cases_selectionlog VALUES(2,'┘é╪د┘à ╪ذ╪د╪«╪ز┘è╪د╪▒ ╪د┘╪ث╪╡┘: ┘à╪╖╪╣┘à (╪د┘┘é┘è┘à╪ر: 75.00)','2026-03-14 21:20:53.763559',33,64);
CREATE TABLE IF NOT EXISTS "cases_paymentsettlement" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "amount" decimal NOT NULL, "is_paid_to_judge" bool NOT NULL, "is_delivered_to_owner" bool NOT NULL, "reason" varchar(255) NOT NULL, "created_at" datetime NOT NULL, "case_id" bigint NOT NULL REFERENCES "cases_case" ("id") DEFERRABLE INITIALLY DEFERRED, "original_owner_id" bigint NULL REFERENCES "cases_heir" ("id") DEFERRABLE INITIALLY DEFERRED, "payer_id" bigint NOT NULL REFERENCES "cases_heir" ("id") DEFERRABLE INITIALLY DEFERRED, "asset_id" bigint NULL REFERENCES "cases_asset" ("id") DEFERRABLE INITIALLY DEFERRED, "component_id" bigint NULL REFERENCES "cases_assetcomponent" ("id") DEFERRABLE INITIALLY DEFERRED, "heir_confirmed_payment" bool NOT NULL);
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('django_migrations',50);
INSERT INTO sqlite_sequence VALUES('django_content_type',21);
INSERT INTO sqlite_sequence VALUES('auth_permission',84);
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE UNIQUE INDEX "users_user_groups_user_id_group_id_b88eab82_uniq" ON "users_user_groups" ("user_id", "group_id");
CREATE INDEX "users_user_groups_user_id_5f6f5a90" ON "users_user_groups" ("user_id");
CREATE INDEX "users_user_groups_group_id_9afc8d0e" ON "users_user_groups" ("group_id");
CREATE UNIQUE INDEX "users_user_user_permissions_user_id_permission_id_43338c45_uniq" ON "users_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "users_user_user_permissions_user_id_20aca447" ON "users_user_user_permissions" ("user_id");
CREATE INDEX "users_user_user_permissions_permission_id_0b93982e" ON "users_user_user_permissions" ("permission_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE INDEX "calculator_calculationresult_case_id_c651027f" ON "calculator_calculationresult" ("case_id");
CREATE INDEX "calculator_heirshare_calculation_id_01ee9c13" ON "calculator_heirshare" ("calculation_id");
CREATE INDEX "calculator_heirshare_heir_id_63b21f10" ON "calculator_heirshare" ("heir_id");
CREATE INDEX "cases_debt_case_id_09b1c2a1" ON "cases_debt" ("case_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE INDEX "cases_will_case_id_992c0d03" ON "cases_will" ("case_id");
CREATE INDEX "users_user_assigned_judge_id_ca503c4f" ON "users_user" ("assigned_judge_id");
CREATE INDEX "cases_asset_case_id_ff5e72fe" ON "cases_asset" ("case_id");
CREATE INDEX "cases_asset_assigned_to_id_70687710" ON "cases_asset" ("assigned_to_id");
CREATE INDEX "cases_assetcomponent_asset_id_9b44809e" ON "cases_assetcomponent" ("asset_id");
CREATE INDEX "cases_assetcomponent_assigned_to_id_d026b469" ON "cases_assetcomponent" ("assigned_to_id");
CREATE INDEX "administration_adminnotification_related_user_id_02748f43" ON "administration_adminnotification" ("related_user_id");
CREATE INDEX "cases_heir_case_id_4ed2418e" ON "cases_heir" ("case_id");
CREATE INDEX "cases_heir_user_id_db71d014" ON "cases_heir" ("user_id");
CREATE INDEX "cases_disputeraffle_asset_id_d5a5c0cb" ON "cases_disputeraffle" ("asset_id");
CREATE INDEX "cases_disputeraffle_case_id_308b62dc" ON "cases_disputeraffle" ("case_id");
CREATE INDEX "cases_disputeraffle_component_id_bedd296f" ON "cases_disputeraffle" ("component_id");
CREATE INDEX "cases_disputeraffle_winner_id_2fba7343" ON "cases_disputeraffle" ("winner_id");
CREATE UNIQUE INDEX "cases_disputeraffle_contenders_disputeraffle_id_heir_id_a27c3dc5_uniq" ON "cases_disputeraffle_contenders" ("disputeraffle_id", "heir_id");
CREATE INDEX "cases_disputeraffle_contenders_disputeraffle_id_ed5bdf7f" ON "cases_disputeraffle_contenders" ("disputeraffle_id");
CREATE INDEX "cases_disputeraffle_contenders_heir_id_b7d241b0" ON "cases_disputeraffle_contenders" ("heir_id");
CREATE UNIQUE INDEX "cases_case_case_number_judge_id_8529ed6d_uniq" ON "cases_case" ("case_number", "judge_id");
CREATE INDEX "cases_case_judge_id_324198c1" ON "cases_case" ("judge_id");
CREATE INDEX "cases_case_clerk_id_78c837b5" ON "cases_case" ("clerk_id");
CREATE UNIQUE INDEX "cases_heirassetselection_heir_id_asset_id_e343266d_uniq" ON "cases_heirassetselection" ("heir_id", "asset_id");
CREATE INDEX "cases_heirassetselection_asset_id_9484c90c" ON "cases_heirassetselection" ("asset_id");
CREATE INDEX "cases_heirassetselection_heir_id_e064efb2" ON "cases_heirassetselection" ("heir_id");
CREATE INDEX "cases_heirassetselection_component_id_7415d82e" ON "cases_heirassetselection" ("component_id");
CREATE INDEX "cases_selectionlog_case_id_0687d26f" ON "cases_selectionlog" ("case_id");
CREATE INDEX "cases_selectionlog_heir_id_80c6dce0" ON "cases_selectionlog" ("heir_id");
CREATE INDEX "cases_paymentsettlement_case_id_91d19773" ON "cases_paymentsettlement" ("case_id");
CREATE INDEX "cases_paymentsettlement_original_owner_id_0174afb0" ON "cases_paymentsettlement" ("original_owner_id");
CREATE INDEX "cases_paymentsettlement_payer_id_e38112d1" ON "cases_paymentsettlement" ("payer_id");
CREATE INDEX "cases_paymentsettlement_asset_id_686c091f" ON "cases_paymentsettlement" ("asset_id");
CREATE INDEX "cases_paymentsettlement_component_id_f8b2c203" ON "cases_paymentsettlement" ("component_id");
COMMIT;
